.chatContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    border-radius: 20px;
  }
  
  .inputSection, .responseSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #userInput {
    border-radius: 20px;
    max-height: 400px;
    padding: 10px;
    font-size: 19px;
  }
  
  button {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--button-background);
    color: var(--button-text);
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: var(--button-hover-background);
  }
  
  .fullWidthButton {
    width: 100%;
    max-width: 600px;
  }
  
  #responseContainer {
    background-color: var(--response-background);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    min-height: 100px;
  }
  
  .userMessage, .assistantMessage {
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
  }
  
  .userMessage {
    background-color: var(--user-message-background);
    text-align: right;
  }
  
  .assistantMessage {
    background-color: var(--assistant-message-background);
    text-align: left;
  }
  
  .messageBlock {
    margin-bottom: 10px;
  }

  label {
    padding-left: 15px;
  }
  